<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224142785055-8g6kfv6drr4vjsj79c8rvqacml8kbiju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224142785055-8g6kfv6drr4vjsj79c8rvqacml8kbiju</string>
	<key>API_KEY</key>
	<string>AIzaSyATTgrQUH0AnXnFypZg04ib6xlJLYneaqc</string>
	<key>GCM_SENDER_ID</key>
	<string>224142785055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>appestoque-8c738</string>
	<key>STORAGE_BUCKET</key>
	<string>appestoque-8c738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224142785055:ios:333fe51e383cc88a9f732a</string>
</dict>
</plist>